In [9]:
import os
from pathlib import Path

import numpy as np
import pandas as pd
import seaborn as sns
import sqlalchemy
from dotenv import load_dotenv

from mylib.db.core import DataBase

load_dotenv()
sns.set()
ID_COLS = ["passenger_id"]

## load data

In [2]:
db = DataBase(os.environ["SQLITE_DB_DIR"])
db.main_database

PosixPath('/workspaces/spaceship-titanic/data/db/main.db')

In [14]:
with db.connect() as connection:
    df_train = pd.read_sql(
        sqlalchemy.select(db.metadata.tables["train.original"]),
        connection,
    ).set_index(ID_COLS)
    df_target = pd.read_sql(
        sqlalchemy.select(db.metadata.tables["train.target"]),
        connection,
    ).set_index(ID_COLS)

In [15]:
df_dataset_cat = pd.concat(
    [df for df in [df_train.select_dtypes(["O", bool]), df_target]],
    axis=1,
)
df_dataset_num = pd.concat(
    [df for df in [df_train.select_dtypes("number"), df_target]],
    axis=1,
)
display(df_dataset_cat.head(3))
display(df_dataset_num.head(3))

,home_planet,cryo_sleep,cabin,destination,vip,name,transported
passenger_id,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,False,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,False,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,True,Altark Susent,False

,age,room_service,food_court,shopping_mall,spa,vr_deck,transported
passenger_id,,,,,,,
0001_01,39.0,0.0,0.0,0.0,0.0,0.0,False
0002_01,24.0,109.0,9.0,25.0,549.0,44.0,True
0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,False

## EDA

In [13]:
df_dataset_cat

,home_planet,cryo_sleep,cabin,destination,vip,name,transported
passenger_id,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,False,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,False,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,True,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,False,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,False,Willy Santantines,True
...,...,...,...,...,...,...,...
9276_01,Europa,False,A/98/P,55 Cancri e,True,Gravior Noxnuther,False
9278_01,Earth,True,G/1499/S,PSO J318.5-22,False,Kurta Mondalley,False
9279_01,Earth,False,G/1500/S,TRAPPIST-1e,False,Fayey Connon,True
9280_01,Europa,False,E/608/S,55 Cancri e,False,Celeon Hontichre,False
9280_02,Europa,False,E/608/S,TRAPPIST-1e,False,Propsh Hontichre,True